<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">



<dom-module id="login-screen">
    <template>

        <iron-ajax
                id="AjaxPost"
                url="/api/login"
                method="POST"
                content-type="application/json"
                handle-as="json"
                on-response="_handleAjaxPostResponse"
                on-error="_handleAjaxPostError"
        ></iron-ajax>

    </template>

    <script>
        let url = "/api/login";
        Polymer({
            is: "AjaxPost",
            properties: {
                response: {
                    type: String
                }
            }
        });
    </script>
</dom-module>