<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="basic-ui">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>





            <div class="card-actions">
                <paper-button raised class="indigo">Start a Claim</paper-button>

            </div>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'basic-ui',
            behaviors: [ReduxBehavior],
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
            },
            ready: function () {
            }
        });
    </script>
</dom-module>