<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">
<link rel="import" href="status-bar.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="approved-button.html">

<dom-module id="claim-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

        </style>

        <paper-card id="claim_display" heading="Claim #[[_claim.id]]">
            <div class="card-content">
                <div><strong>Description:</strong> [[_claim.details.description]]</div>
                <div><strong>Related Policy:</strong> [[_claim.relations.relatedPolicy]]</div>
                <div><strong>Incident Date:</strong> [[_claim.details.incident.date]]</div>
                <div><strong>Incident Type:</strong> [[_claim.details.incident.type]]</div>
                <status-bar current-stage="[[_claim.details.status]]"></status-bar>


                <template is="dom-if" if="[[_claimIsWaitingForUser(_claim.details.status)]]">
                    <approved-button claim-id="[[_claim.id]]"></approved-button>
                </template>

            </div>

        </paper-card>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'claim-display',
            behaviors: [ReduxBehavior, ClaimantAPIBehavior],
            properties: {
                claimId: {
                    type: String,
                    required: true,
                    observer: '_claimIdChanged'
                },
                _claim: {
                    type: Object,
                    value: {}
                }
            },

            _claimIsWaitingForUser: function (currentState) {
                if (currentState === "awaiting_claimant_confirmation") {
                    true
                }
                else {
                    false
                }
            },

            _claimIdChanged: function () {
                this._claim = this.getState().claims[this.claimId];
            },
        });
    </script>
</dom-module>