<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">
<link rel="import" href="status-bar.html">

<dom-module id="claim-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <paper-card id="claim_display" >
            <div class="card-content">
                <h2>Claim Information</h2>
                <div>Claim Type: Expensive</div>
                <div>Claim Description: [[claim.claimDescription]]</div>
                <div>Related Policy: Policy 1</div>
                <div>Incident Date: 09/03/2016</div>
                <div>Incident Type: Single Party</div>
                <div>Status:</div>
                <status-bar current-claim="[[claim]]"></status-bar>

            </div>

        </paper-card>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'claim-display',
            behaviors: [ReduxBehavior,ClaimantAPIBehavior],
            actions: {
                addClaim: function(claimId, claimData) {
                    return {
                        type: 'ADD_CLAIM',
                        claimId: claimId,
                        claim: claimData
                    };
                },
            },
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
                token: {
                    type: String,
                    statePath: 'token',
                },
                claim: {
                    type: Object,
                    statePath: function (state) {
                        return state.claims["3"];
                    }
                }
            },
            ready: function () {
                var _this = this;
                this._claimantApi().getClaim( "3" ,this.token).then(function (claimValue) {
                   _this.dispatch('addClaim', "3", claimValue);
                });

            }
        });
    </script>
</dom-module>