<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">

<dom-module id="claim-creation">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <paper-card id="claim-creation" >
            <div class="card-content">

                <h2>Claim  data</h2>
                <paper-dropdown-menu label="Claim type">
                    <paper-listbox id = "listBox" class="dropdown-content" selected = "{{type}}">
                        <template is="dom-repeat" items="{{typeOptions}}">
                            <paper-item>{{item}}</paper-item>
                        </template>

                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-textarea label="Description of incident" value = "{{description}}"></paper-textarea>

                <paper-dropdown-menu label="Policy">
                    <paper-listbox id = "listBox2" class="dropdown-content" selected = "{{policy}}">
                        <template is="dom-repeat" items="{{availablePolicies}}">
                            <paper-item>{{item.relations.vehicle}}</paper-item>
                        </template>

                    </paper-listbox>
                </paper-dropdown-menu>


                <h4>Incident date</h4>
                <paper-dialog id="dialog" class="paper-date-picker-dialog" modal
                              on-iron-overlay-closed="dismissDialog">
                    <paper-date-picker id="picker" date="{{date}}" dateFormat="yyyy-MM-dd" ></paper-date-picker>

                </paper-dialog>

            </div>
            <div class="card-actions">

                <paper-button on-tap="_createClaim" autofocus>Submit</paper-button>
            </div>
        </paper-card>

    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'claim-creation',
            actions: {
                setPolicies: function(policies) {
                    return {
                        type: 'SET_POLICIES',
                        policies:policies,
                    };
                },
            },
            behaviors: [ReduxBehavior, ClaimantAPIBehavior],
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
                token: {
                    type: String,
                    statePath: 'token',
                },
                typeOptions: {
                    type: Array,
                    value: ['Single Party',
                            'Multiple Party']
                },
                availablePolicies: {
                    type: Array,
                    statePath: 'policies'
                },

                username: {
                    type: String,
                    statePath: 'username',
                },
            },

            ready: function () {
                var _this = this;
                this._claimantApi().getAllPolicies(this.username, this.token).then( function(policies) {
                    _this.dispatch('setPolicies', policies.results);
                })
            },
            _processDate: function(date) {
                return date.toISOString().substring(0, 10);
            },
            _createClaim: function() {
                this._claimantApi().createClaim(this.token,this._getIdForPolicy(this.policy),this.description, this._processDate(this.date), this.typeOptions[this.type], this.username).then(function (token) {
                    console.log(token);
                }, function (error) {
                    console.error(error);
                });
            },
            _getIdForPolicy: function(index) {
                return this.availablePolicies[index].id
            }

        });
    </script>
</dom-module>