<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">
<link rel="import" href="status-bar.html">

<dom-module id="claim-display">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <paper-card id="claim_display" >
            <div class="card-content">
                <h2>Claim Information</h2>
                <div>Claim Description: [[_claim.details.description]]</div>
                <div>Related Policy: [[_claim.relations.relatedPolicy]]</div>
                <div>Incident Date: [[_claim.details.incident.date]]</div>
                <div>Incident Type: [[_claim.details.incident.type]]</div>
                <div>Status:</div>
                <status-bar current-claim="[[_claim]]"></status-bar>

            </div>

        </paper-card>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'claim-display',
            behaviors: [ReduxBehavior],
            properties: {
                claimId: {
                    type: String,
                    required: true,
                    observer: '_claimIdChanged'
                },
                _claim: {
                    type: Object,
                    value: {}
                }
            },
            _claimIdChanged: function () {
                this._claim = this.getState().claims[this.claimId];
                console.log(this._claim);
            },
            ready: function () {
            }
        });
    </script>
</dom-module>