<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="claim-creation">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <paper-card id="claim-creation" >
            <div class="card-content">

                <h2>Vehicle  data</h2>
                <paper-input label="Make"> </paper-input>
                <paper-input label="Model" > </paper-input>
                <paper-input label="Year" type = "number"> </paper-input>
                <paper-input label="Mileage"  type = "number" > </paper-input>


                <h2>Claim  data</h2>
                <paper-dropdown-menu label="Claim type">
                    <paper-listbox class="dropdown-content" >
                        <paper-item>Single party</paper-item>
                        <paper-item>Multiple party</paper-item>

                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-textarea label="Description of incident"></paper-textarea>

                <h4>Incident date</h4>
                <paper-dialog id="dialog" class="paper-date-picker-dialog" modal
                              on-iron-overlay-closed="dismissDialog">
                    <paper-date-picker id="picker" date="[[date]]"></paper-date-picker>
                    <div class="buttons">
                        <paper-button dialog-confirm>Set Date</paper-button>
                    </div>
                </paper-dialog>



            </div>
            <div class="card-actions">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus>Submit</paper-button>
            </div>
        </paper-card>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'claim-creation',
            behaviors: [ReduxBehavior],
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
                currentDate: {
                    type: String,
                    value: 'April 1, 2015'
                }
            },
            ready: function () {
                this.$.login_form.open();
            }
        });
    </script>
</dom-module>