<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">

<dom-module id="login-screen">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }


        </style>

        <paper-card id="login_form" >
            <div class="card-content">
                <h2>Please login </h2>
                <paper-input label="Username" value="{{username}}" id="username"> </paper-input>
                <iron-a11y-keys id="a11yUser" target="[[_userTarget]]" keys="enter"
                                on-keys-pressed="_logIn"></iron-a11y-keys>
                <paper-input label="Password" type="password" id="password" value="{{password}}"> </paper-input>
                <iron-a11y-keys id="a11yPass" target="[[_passTarget]]" keys="enter"
                                on-keys-pressed="_logIn"></iron-a11y-keys>
            </div>
            <div class="card-actions">
                <paper-button on-tap="_logIn">Login</paper-button>
                <paper-toast id="toast"  horizontal-align="right" text="Please check your details and try again."></paper-toast>

            </div>
        </paper-card>


    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'login-screen',
            behaviors: [ReduxBehavior, ClaimantAPIBehavior],
            actions: {
                addToken: function(token, username) {
                    return {
                        type: 'SET_TOKEN',
                        token: token,
                        username: username
                    };
                },
            },
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
                _passTarget: {
                    type: Object,
                    value: function () {
                        return this.$.password;
                    }
                },
                _userTarget: {
                    type: Object,
                    value: function () {
                        return this.$.username;
                    }
                },
                _pushToken: {
                    type: String,
                    statePath: 'pushToken'
                }
            },

            ready: function () {
            },
            _logIn: function (){
                var _this = this
                this._claimantApi().login(this.username, this.password, this._pushToken).then(function (token) {
                   _this.dispatch('addToken', token, _this.username);
                }, function (error) {
                    _this.openToast()
                   console.error(error);
                })
            },
            openToast: function() {
                this.$.toast.open();
            }
        });
    </script>
</dom-module>