<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../behaviors/claimant-api-behavior.html">
<link rel="import" href="../icons/myIcons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="status-bar">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .flex-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .active {
                background-color: #4CAF50;
                border: 2px solid #fff;
            }

            .inactive {
                background-color: white;
                opacity: 0.4;
                border: 2px solid#000;
            }

            .previouslyActive {
                opacity: 0.4;
                background-color: #2E7D32;
                border: 2px solid #fff;
            }

            .circleBase {
                border-radius: 50%;
                width:50px;
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .inner {
                margin: 0 auto;
            }
            .outer {
                margin: 10px;
                text-align: center;
                min-width: 50px;
            }

        </style>

        <div class="flex-container">

            <div class = "outer">
                <div  class$ = "[[_getStyle(currentClaim, 'Claim Raised')]]">
                    <iron-icon icon="myIcons:check-circle"></iron-icon>
                </div>
                <p>Claim Raised</p>
            </div>

            <div class = "outer">
                <div  class$ = "[[_getStyle(currentClaim, 'Car Inspected')]]">
                <iron-icon icon="myIcons:directions-car"></iron-icon>
                </div>
                <p>Car Inspected</p>
            </div>

            <div class = "outer">
                <div class$ = "[[_getStyle(currentClaim, 'Value Agreed')]]">
                <iron-icon icon="myIcons:group"></iron-icon>
                </div>
                <p>Value Agreed</p>
            </div>

            <div class = "outer">
                <div class$ = "[[_getStyle(currentClaim, 'Payment Made')]]">
                    <iron-icon icon="myIcons:local-atm"></iron-icon>
                </div>
                <p>Payment Made</p>

            </div>

        </div>

    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'status-bar',
            behaviors: [ReduxBehavior],
            actions: {
                addToken: function(token) {
                    return {
                        type: 'SET_TOKEN',
                        token:token,
                    };
                },
            },
            properties: {
                _states: {
                    type: Array,
                    value: [
                            'Claim Raised',
                            'Car Inspected',
                            'Value Agreed',
                            'Payment Made'
                    ],
                },

                currentClaim: {
                    type: Object,
                    value: {
                        "claimType": "Type 1",
                        "claimDescription": "Description of claim",
                        "relatedPolicy": "Policy 1",
                        "incidentDate": "2106-01-01",
                        "incidentType": "Single Party",
                        "status": "Car Inspected"
                    }
                }
            },
            ready: function () {
            },

            _getStyle: function(claim, status) {
                if (claim !== null && claim.status === status) {
                    return "active circleBase inner";
                } else if (claim !== null && (this._states.indexOf(status) < this._states.indexOf(claim.status))) {
                    return "previouslyActive circleBase inner";
                } else {
                    return "inactive circleBase inner";
                }
            }
        });
    </script>
</dom-module>