<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">

<dom-module id="transaction-history">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            paper-item {
                background: white;
            }
            .claim_approved {
                color: green;
            }
            .claim_rejected {
                color: red;
            }
        </style>
        <iron-list items="[[_getClaimsArray(_claims)]]">
            <template>
                <paper-item class$="[[item.status]]">
                    <paper-item-body two-line>
                        <div><a href="/claim-detail/[[item.id]]">Claim #[[item.id]] - Policy #[[item.relations.relatedPolicy]]</a></div>
                        <div secondary>[[item.description]]</div>
                    </paper-item-body>
                </paper-item>
            </template>
        </iron-list>
    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'transaction-history',
            behaviors: [ReduxBehavior],
            properties: {
                _claims: {
                    type: Object,
                    statePath: 'claims',
                },
            },
            _getClaimsArray: function (_claims) {
                if (_claims) {
                    return Object.keys(_claims).map(function (key) {
                        var id = key;
                        key = {
                            id: id,
                            description: _claims[id].details.description,
                            status: _claims[id].details.status,
                            relations: _claims[id].relations
                        }
                        return key;
                    });
                } else {
                    return [];
                }
            },
            ready: function () {
            }
        });
    </script>
</dom-module>
