<link rel="import" href="../store/redux-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<dom-module id="transaction-history">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            paper-item {
                background: white;
            }
            .claim_approved {
                color: green;
            }
            .claim_rejected {
                color: red;
            }
        </style>
        <iron-list items="[[transactions]]">
            <template>
                <paper-item class$="[[item.stage]]">
                    <paper-item-body two-line>
                        <div>[[item.id]]</div>
                        <div secondary>[[item.claimant]]</div>
                    </paper-item-body>
                </paper-item>
            </template>
        </iron-list>
    </template>

    <script>
        /* global ReduxBehavior */
        Polymer({
            is: 'transaction-history',
            behaviors: [ReduxBehavior],
            actions: {
                add_transactions: function(data) {
                    return {
                        type: 'ADD_TRANSACTIONS',
                        transactions: data
                    };
                },
            },
            properties: {
                transactions: {
                    type: Array,
                    statePath: 'transactions',
                },
            },
            ready: function () {
                let _this = this;
                fetch('https://demo7632555.mockable.io/test/transactions/')
                        .then(function (response) {
                            response.json().then(function (body){
                                _this.dispatch('add_transactions', body);
                                console.log(body);
                            });
                });
            }
        });
    </script>
</dom-module>
